// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #ec663c;

$title-color: rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-tfs-passing {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .passing-percentage {

  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
